.main-section {
    overflow: hidden;
    position: relative;
    height: 518px;
    background-color: #ece78b;
    background-image: url(../images/tui-genz-z-main-teaser_@1x.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}



.main-section .container {
    height: 100%
}

.main-section-title {
    letter-spacing: 1px;
    position: absolute;
    left: 16px;
    bottom: 68px;
    font-size: 33px;
    line-height: 1.14;
    color: #fff
}

.main-section-title span {
    letter-spacing: 0;
    display: block;
    padding-top: 8px;
    font-size: 24px
}

.section-figure {
    margin: 40px 0 0;
}

.section-figure img, .section-figure picture {
    width: 100%;
    margin-left: auto;
}


.section-figure__caption {
    padding: 32px;
    background: #fff;
}

.rounded {
    border-radius: 10px
}
.scrollup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    border-radius: 50%;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(0,0,0,0);
    width: 45px;
    height: 45px;
    bottom: 140px;
    right: 20px;
    z-index: 3000000000;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    -webkit-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1)
}

.scrollup:hover,.scrollup:focus {
    background-color: rgba(54,129,215,.203)
}
.showBtn {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    pointer-events: initial;
    -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,.26);
    box-shadow: 4px 3px 5px 0px rgba(0,0,0,.26)
}





