.main-section {
    overflow: hidden;
    position: relative;
    height: 518px;
    background-color: #ece78b;
    background-image: url(../images/tui-genz-z-main-teaser_@1x.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-title {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

.content-text {
    margin-bottom: 0;
    letter-spacing: 0;
    line-height: 1.33;
}


.main-section .container {
    height: 100%
}

.main-section-title {
    letter-spacing: 1px;
    position: absolute;
    left: 16px;
    bottom: 68px;
    font-size: 33px;
    line-height: 1.14;
    color: #fff
}

.main-section-title span {
    letter-spacing: 0;
    display: block;
    padding-top: 8px;
    font-size: 24px
}

.section-figure {
    margin: 40px 0 0;
}

.section-figure img, .section-figure picture {
    width: 100%;
    margin-left: auto;
}


.section-figure__caption {
    padding: 32px;
    background: #fff;
}

.rounded {
    border-radius: 10px
}




